*{
    padding: 0;
    margin: 0;

}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fdf6e3;   
}

.container{
    border: 1px green solid;
    background-color: #2381cf;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.wrapper{
    height: 800px;
    background-color: #b89b4c;
    flex-basis: 800px;
    /* flex-grow: 1; */
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    box-sizing: border-box;
    padding: 40px;

}

.title textarea{
    font-size: 2.5em;
    width: 800px;
    border: none;
    background-color: #d53e3e3e;
    outline: none;
}

.text-body{
    flex-basis: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text-body textarea{
    font-size: 1em;
    width: 600px;
    height: 100%;
    border: none;
    outline: none;
    background-color: #fdf6e3;
}

.text-body button{
    width: 200px;
    border: #757575 solid 1px;
    border-radius: 30px;
    height: 60px;
    font-size: 1.4em;
    background-color: #fdf6e3;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.text-body button:hover{
    background-color: #87a5c9;
}